.app-header{
    position: absolute;
    height:0.44rem;
    width: 100%;
    top:0;
    left: 0;
    display: flex;
}
.app-nav{
    position: absolute;
    width:100%;
    height: 0.49rem;
    left:0;
    bottom:0;
    background: #fff;
}
/* 具有上边框 */
.content{
    width: 100%;
    position: absolute;
    top: 0.44rem;
    left: 0;
    bottom:0;
    overflow: hidden;
    background: #efefef;
}
/* 具有下边框 */
.pages{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0.49rem;
    overflow: hidden;
    background: #efefef;
}
/* 具有整个页面 */
.app-content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: #efefef;
}
/* 具有整个页面 层数较高 */
.page{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index:1;
}
#app{
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
}